/*
   statusbar-overlay sets the background color for the overlay. Black text is the default when the statusbar plugin is not added. When the
   statusbar plugin is added, it also adds default setting to make the content white via:

       <preference name="StatusBarStyle" value="lightcontent"/>

   Setting the background color to black will allow the default light content (white text/icons) to show on it. The statusbar plugin is included
   in the config.xml file and will be added by the CLI when you build locally.

   See https://github.com/apache/cordova-plugin-statusbar
*/

/*.statusbar-overlay {
    background: #000000;
}
*/

@charset "utf-8";

/********************************************************/
/* Base Styles                                          */
/********************************************************/

/* Fixes IE 10 viewport issue, as specified in Bootstrap docs.
 * See here > http://getbootstrap.com/getting-started/#support-ie-compatibility-modes. */
@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }

html {
  width: auto;
  overflow-x: hidden;
  overflow-y: scroll;
}
#ascrail2000 {
  display: none !important;
}
#ascrail2001 {
  display: none !important;
}
body {
  font-family: verdana, arial, helvetica, sans-serif;
  background-color: #FFF;
  font-size: 12px;
  font-style: normal;
  line-height: 18px;
  font-weight: 300;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1, h2, h3, h4, h5, h6, p, span, blockquote, hr {
  position: relative;
  font-family: verdana, arial, helvetica, sans-serif;
  font-weight: 300;
}
h1 {
  font-size: 20px;
  color: #FFF;
  margin-top: 10px;
}
h2 {
  font-size: 20px;
  color: #3b3f42;
  margin-top: 10px;
}
h3 {
  font-size: 18px;
  color: #3b3f42;
  margin-top: 10px;
}
h4 {
  color: #3b3f42;
  font-size: 16px;
}
p {
  font-style: normal;
  text-align: justify;
}
p a {
  font-style: italic;
  text-decoration: underline;
}
a {
  color: #6d9f00;
  text-decoration: none;
  text-transform: none;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease .3s;
  -o-transition: all ease .3s;
  transition: all ease .3s;
}
a:hover, a:focus {
  color: #7fb800;
  text-decoration: none;
}
hr {
  border-top: 1px solid #c8cbcd;
}
.vr_left {
  border-left: 1px solid #c8cbcd;
}
img {
  max-width: 100%;
  width: auto;
  height: auto;
}
/* *************************************** 
                Navbar
  **************************************** */
#RVNavbar .navbar {
  margin-bottom: 0;
  border: 0;
  min-height: 44px;
  color: #fff;
  background: #17406B;
}
#RVNavbar .navbar .center {
  font-weight: 300;
  width: 100%;
} 
#RVNavbar .navbar .right {
  padding-right: 3px;
} 
#RVNavbar .navbar-fixed .page-content, .navbar-through .page-content {
  padding-top: 0;
  padding-bottom: 10em;
}
#RVNavbar #navbar_search_btn {
  color: #fff;
}
#RVNavbar #navbar_close_btn{
  color: #fff;
}
#RVNavbar #fund_names{
  max-width: 250px;
  width: 250px;
}
#RVNavbar img {
  height: 30px;
}
.ui-front{
  z-index: 10000;
  max-width: 250px !important;
  width: 250px !important;
}
.ui-autocomplete {
  max-height: 20em;
  overflow-y: ;
  overflow-x: hidden;
}
#RVSidebar {
  margin-top: 0px;
  background: linear-gradient(to right, rgba(18,51,86,1), rgba(38,89,149,1));
  border-radius: 0;
}
#RVSidebar .fa {
  width: 20px;
}
#RVSidebar .list-block .item-inner:after {
  background: none;
}
#RVSidebar .list-block ul:before {
  background: none;
}
#RVSidebar .content-block {
  margin: 0;
  padding: 0;
}
#RVSidebar .content-block-title {
  margin: 0;
}
#RVSidebar .content-block-title+.list-block {
  margin-top: 0;
}
#RVSidebar .list-block .item-content{
  min-height: 34px;
}
#RVSidebar .item-content.item-link{
  background: #17406B;
  color: #fff;
  border-top: 1px solid #123356;
  font-size: 12px;
  padding-left: 10px;
}
#RVSidebar .accordion-item .item-content.item-link .item-title{
  width: 100%;
}
#RVSidebar .accordion-item-content .item-content.item-link{
  background: #456688;
  color: #fff;
  border-top: 1px solid #123356;
  padding-left: 2em;
}
#RVSidebar .accordion-item-content .accordion-item-content .item-content.item-link{
  background: #738ca6;
  color: #fff;
  border-top: 1px solid #123356;
}
#RVSidebar #sidepanel_head span{
  color: #fff;
}
#RVSidebar #sidepanel_head #sidepanel_user_name{
  margin-left: 1em;
  font-size: 11px;
}
#RVSidebar #sidepanel_head #sidepanel_log_flag{
  margin-right: 1em;
  font-size: 11px;
}
#RVSidebar #sidepanel_head{
  background: linear-gradient(to right, rgba(18,51,86,1), rgba(38,89,149,1));;
}
#RVSidebar #sidepanel_head #sidepanel_head_img{
  margin:1em 10px;
}
.toolbar .toolbar-inner {
  background: #17406B;
  padding: 0 15px;
}
.toolbar .toolbar-inner a {
  color: #fff;
}

/* *************************************** 
                   My CSS 
  **************************************** */

.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: 0;
}
.btn-RV {
  color: #fff;
  background-color: #7fb800;
  border: 1px solid #7fb800;
  white-space: normal;
  padding: 6px 6px;
  font-size: 12px;
  font-weight: 300;
  border-radius: 6px;
  

/* #6d9f00    #7fb800*/

    /*color: #fff;
    margin-bottom: 15px;
    border: 0;
    border-bottom: 1px solid #17396B;
    background: linear-gradient(to bottom, rgba(18,51,86,1), rgba(38,89,149,1));*/
     /*background: linear-gradient(to bottom, #6d9f00, #7fb800);*/
    background: linear-gradient(to bottom, rgb(109, 159, 0,1) , rgb(127, 184, 0,1));
    -webkit-box-shadow: 0px 6px 0px #6d9f00, 0px 3px 15px rgba(0,0,0,.4);
    -moz-box-shadow: 0px 6px 0px #6d9f00, 0px 3px 15px rgba(0,0,0,.4);
    box-shadow: 0px 6px 0px #6d9f00, 0px 3px 15px rgba(0,0,0,.4);



}
.btn-RV:focus, .btn-RV:active, .btn-RV:hover, .btn-RV:active:focus, .btn-RV.active:focus {
  color: #fff;
}

.btn-primary, .btn-primary.disabled, .btn-primary[disabled], .btn-primary[disabled]:active, .btn-primary[disabled]:hover,
 .btn-primary:active:focus, .btn-primary:active:hover {
   background: linear-gradient(to bottom, #7fb800 , #6d9f00);
  /*background-color: #7fb800;*/
  border-color: #7fb800;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {  
  background-color: #6d9f00 !important;
  border-color: #6d9f00 !important;
}


.d_inline { display: inline; }
.d_inline_b { display: inline-block; }
.d_inline_f { display: -webkit-inline-flex; display: -ms-inline-flexbox; display: inline-flex; }
.d_none {display:none;}
.NoAppearance { -webkit-appearance: none; -moz-appearance: none; appearance: none; }
.area_wrap {overflow-x:auto;}
.glyphicon-star {color: #17406B;}
.form-control {
  height: 32px;
  padding: 3px 6px;
}
.validation_col{
  color: #da4453;
}
.spinner {
  width: 100px;
  height: 100px;
  margin: 100px auto;
  background-color: #1689e5;
  border-radius: 100%;  
  top: 50%;
  position: absolute;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
   z-index: 999999;
  -webkit-animation:scaleout 1.0s infinite ease-in-out;
  -moz-animation:scaleout 1.0s infinite ease-in-out;
  -ms-animation:scaleout 1.0s infinite ease-in-out;
  -o-animation:scaleout 1.0s infinite ease-in-out;
  animation:scaleout 1.0s infinite ease-in-out;
}
.HeadTop {
  background: #2f5378;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
}
.breadcrumb {
  padding: 6px 6px;
  margin: 0;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
  min-height: 50px;
}

/**************
    Home page 
***************/

#IndexHome .HomeTop {
  background: #2f5378;
  height: 12em;
}
#IndexHome h1 {
  font-size: 20px;
  margin-top: 2em;
}
#IndexHome h3 {
  color: #FFF;
}
#IndexHome a {
  color: #333;
}
#IndexHome .MFFD img {
  margin: 1em 0 0 0;
}
#IndexHome .mf, #IndexHome .fd {
  background: #1c4d80;
  padding-bottom: 1em;
}
#IndexHome .mf a, #IndexHome .fd a {
  color: #fff;
}
#IndexHome .invSolTop {
  background: #2f5378;
}
#IndexHome .invSol {
  padding: 0 0 1em 0;
}
#IndexHome .invSol img {
  margin: 1em 0 0 0;
  width: 80px;
}
#IndexHome .innoToolsTop {
  background: #2f5378;
}
#IndexHome .innoTools {
  padding: 0 0 1em 0;
}
#IndexHome .innoTools img {
  margin: 1em 0 0 0;
  width: 50px;
}
#IndexHome .innoTools .cal img {
  width: 40px;
}

/****************
    About page 
*****************/
#why_RV h2 {
  border-bottom: 1px solid #17406B;
}
#why_RV p {
  text-align: left;
}
#why_RV .HowItInner, #why_RV .AboutUsInner {
  background: #eee;
  border-radius: 6px;
  /*box-shadow: 1px 0px 15px 5px rgba(0,0,0,0.075);*/
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
  height: 100px;
}
#why_RV .HowItInner img, #why_RV .AboutUsInner img {
  background: #17406B;
  width: 100px;
  padding: 10px;
  margin: 0 5px 10px 0;
}
#why_RV .HowItInner p, #why_RV .AboutUsInner p {
  margin-right: 5px;
  line-height: 16px;
}
#why_RV .HowItInner h5, #why_RV .AboutUsInner h5 {
  padding-top: 5px;
  margin: 0;
}
#why_RV .SecurityInner {
  background: #eee;
  border-radius: 6px;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
  height: 100px;
  padding-left: 5px;
}
#why_RV .SecurityInner img {
  background: #17406B;
  width: 100px;
  padding: 10px;
  margin: 0 0 10px 5px;
}
#why_RV .SecurityInner p {
  margin-right: 5px;
  line-height: 16px;
}
#why_RV .SecurityInner h5 {
  padding-top: 5px;
  margin: 0;
}



/**********************************
    Mutual Fund Home
***********************************/
#mfund_home .well {
      padding: 4px;
    border-radius: 0px;
        margin-bottom: 5px;
}
#mfund_home .MFHeadTop{
  background: #eee;
  border-bottom: 1px solid #ccc;
}
#mfund_home .MFHeadTop .sub_navbar_head .button{
  border: none;
  border-radius: 0 0 0 0;
  color: #787979;
}
#mfund_home .MFHeadTop .sub_navbar_head .button.active{
  background: none;
  color: #333;
  border-bottom: 5px solid #17406B;
}
#mfund_home .MFHeadSubTop{
  margin-top: 1em;
}
#mfund_home .breadcrumb {
  color: #fff;
  margin-top: 10px;
  margin-bottom: 15px;
  border: 0;
  border-bottom: 1px solid #17396B;
  background: linear-gradient(to bottom, rgba(18,51,86,1), rgba(38,89,149,1));
  -webkit-box-shadow: 0px 6px 0px #123356, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
  -moz-box-shadow: 0px 6px 0px #123356, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
  box-shadow: 0px 6px 0px #123356, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
}
#mfund_home .breadcrumb a {
  color: #fff;
  display: flow-root;
}
#mfund_home .MFHeadSubTop .buttons-row .button {
  font-size: 12px;
  padding: 0 3px;
  color: #333;
  border-color: #7fb800;
  white-space: normal;
  line-height: 18px;
  min-height: 38px;
}
#mfund_home .MFHeadSubTop .buttons-row .button.active {
  color: #FFF;
  background: #7fb800;
  border-color: #7fb800;
}
#mfund_home .MFHeadSubTop .mf_name{
  font-size: 16px;
}
#mfund_home .mf_as_on {
  float: right;
}



/*************************************************************
          Overview 
**************************************************************/

#fund_details .glyphicon.glyphicon-star{
  color: #fff;
}
#fund_details #navdate,#fund_details #aumdate{
  font-style: italic;
  color: #787979;
}
#fund_details #s_name{
  margin-bottom: 5px;
}
#fund_details .top_1{
  margin-top: 1em;
}
#fund_details .pagination{
  display: block;
}
#fund_details #pages{
  text-align: center;
}
#fund_details .ov_top_nav h2{
  display: inline;
  margin-right: 10px;
}
#fund_details .ov_top_nav h4{
  display: inline;
}
#fund_details .ov_top_nav h6{
  margin-top: 0px;
}
#fund_details table#return th:nth-child(2),#fund_details table#return td:nth-child(2){
  display: none;
}
#fund_details table#return th:nth-child(3),#fund_details table#return td:nth-child(3){
  display: none;
}
#fund_details table#return th:first-child{
  min-width: 16em;
}
#fund_details table#return th:nth-child(n+2){
  min-width: 6em;
}
#fund_details table#return td:nth-child(n+2){
  text-align: right;
  padding-right: 2.5em;
}
#fund_details table#peertabl tr th:nth-child(1){
  min-width: 12em;
}
#fund_details table#peertabl tr:nth-child(1) th:nth-child(2),#fund_details table#peertabl tr td:nth-child(2){
  display: none;
}
#fund_details table#peertabl tr:nth-child(2) th:nth-child(1),#fund_details table#peertabl tr td:nth-child(5){
  display: none;
}
#fund_details table#peertabl tr:nth-child(1) th:nth-child(3){
  min-width: 8em;
}
#fund_details table#peertabl tr:nth-child(1) th:nth-child(4){
  min-width: 9em;
}
#fund_details table#peertabl tr:nth-child(1) th:nth-child(5){
  text-align: center;
}
#fund_details table#peertabl tr td:nth-child(3){
  text-align: right;
  padding-right: 2em;
}
#fund_details table#peertabl tr td:nth-child(4){
  text-align: right;
  padding-right: 4em;
}
#fund_details table#peertabl tr td:nth-child(6){
  text-align: right;
  padding-right: 1.2em;
}
#fund_details table#peertabl tr td:nth-child(7){
  text-align: right;
  padding-right: 1.2em;
}
#fund_details table#peertabl tr td:nth-child(8){
  text-align: right;
  padding-right: 1.2em;
}
#fund_details table#portfolio_holdings{
  height: 10em;
  overflow-y: auto; 
}
#fund_details .breadcrumb_2 {
  margin-bottom: 15px;
  border: 1px solid #17396B;
  background: linear-gradient(to top, rgba(18,51,86,1), rgba(38,89,149,1));
}
#fund_details .breadcrumb_3 {
  margin-bottom: 15px;
  border: 1px solid #17396B;
  background: linear-gradient(to bottom, rgba(18,51,86,1), rgba(38,89,149,1));
  color:#fff;
}
#fund_details .breadcrumb_4 {
  border: 2px solid #17396B;
  border-radius: 10px;
  margin-bottom: 1em;
}
#fund_details .breadcrumb_bgr{
  background: #fff;
}
#fund_details .breadcrumb_4 h4{
  margin-left: 0.5em;
}
#fund_details .pad_left{
  padding-left: 5px;
}
#fund_details .pad_right{
  padding-right: 5px;
}
#fund_details #portfolio_holdings th:nth-child(2){
  text-align: right;
  padding-right: 2em;
  /* width: 35%; */
  min-width: 10em;
}
#fund_details #portfolio_holdings td:nth-child(1),#fund_details #portfolio_holdings th:nth-child(1){
  width: 80%;
  overflow-x: auto;
  white-space: nowrap;
  max-width: 180px;
}
#fund_details #portfolio_holdings td:nth-child(2){
  width: 25%;
  text-align: right;
  padding-right: 2em;
}
#fund_details #portfolio_table th:nth-child(n+2){
  text-align: center;
}
#fund_details #portfolio_table th:nth-child(3){
  min-width: 9em;
}
#fund_details #portfolio_table th:nth-child(4){
  min-width: 8em;
}
#fund_details #portfolio_table th:nth-child(5){
  min-width: 6em;
}
#fund_details #portfolio_table td:nth-child(1){
  min-width: 8em;
}
#fund_details #portfolio_table td:nth-child(2){
  text-align: right;
  padding-right: 1em;
}
#fund_details #portfolio_table td:nth-child(3){
  text-align: right;
  padding-right: 2em;
}
#fund_details #portfolio_table td:nth-child(4){
  text-align: right;
  padding-right: 2em;
}
#fund_details #portfolio_table td:nth-child(5){
  text-align: right;
  padding-right: 2em;
}
#fund_details #portfolio_table .portcap{
  text-align: left;
  margin-top: 1em;
}
#fund_details #portfolio_table .portcap h6{
  font-style: italic;
  margin-top: 2px;
}
#fund_details #conval .portcap{
  text-align: left;
  margin-top: 1em;
}
#fund_details #conval .portcap h6{
  font-style: italic;
  margin-top: 2px;
}
#fund_details #conval td:nth-child(2){
  text-align: right;
  padding-right: 2em;
}
#fund_details #asset_alloc_table th:nth-child(2),#fund_details #asset_alloc_table td:nth-child(2){
  text-align: right;
  padding-right: 1em;
}
#fund_details .pad_right table td,#fund_details .pad_left table td{
  text-align: center;
}
#fund_details #container-0{
  margin-bottom: 1em;
}
#fund_details #container-01{
  margin-top: 1em;
  margin-bottom: 1em;
}


/**********************************
          Screener
***********************************/

#mf_screener #main-tabs li {
    width: 25%;
}
#mf_screener #main-tabs .nav-menu a {
  font-size: 11px;
  padding: 5px 5px;
  border: 2px solid #2d94e7;
  background-color: transparent;
  color: #3b3f42;
  word-spacing: 0px;
  min-height: 6em;
}
#mf_screener #main-tabs .nav-menu.tab-active a {
  background-color: #2d94e7;
  color: #fff;
}
#mf_screener #home .outer_wrapper_fund .ineer_wrapper_fund, #mf_screener #home .outer_wrapper_fund .ineer_wrapper_fund_last {
  border: 1px solid #555555;
  background-color: #fff;
  margin: 5px 0px;
  display: inline-block;
  padding: 0;
  width: 100%;
  height: 160px;
  overflow-y: auto;
}
#mf_screener #home label {
  display: block;
  max-width: 100%;
  margin-bottom: 0;
  font-weight: 400;
  padding: 2px 10px;
}
#mf_screener #home label:nth-child(odd) {
  background: #fff;
}
#mf_screener #home label:nth-child(even) {
  background: #f1f2f2;
}
#mf_screener #home .outer_wrapper_fund {
  border: 1px solid #555555;
  background-color: #f2f2f2;
  margin-top: 3px;
  width: 100%;
  padding: 10px;
  height: 450px;
}
#mf_screener #home .outer_wrapper_fund .selector_head {
  display: inline-block;
  margin: 0.2em 0;
  padding: 0.5em 0.5em;
  min-width: 12em;
}

#mf_screener #menu2 .outer_wrapper_rating .fund_head {
  display: inline-block;
  margin: 0.2em 0;
  padding: 0.5em 0.5em;
  min-width: 12em;
}
#mf_screener #menu2 .outer_wrapper_fund .fund_head {
  display: inline-block;
  margin: 0.2em 0;
  padding: 0.5em 0.5em;
  min-width: 12em;
}
#mf_screener #menu2 .outer_wrapper_rating {
  border: 1px solid #555555;
  background-color: #f2f2f2;
  margin-top: 3px;
  width: 100%;
  padding: 10px;
  height: 220px;
}
#mf_screener #menu2 .outer_wrapper_fund {
  border: 1px solid #555555;
  background-color: #f2f2f2;
  margin-top: 3px;
  width: 100%;
  padding: 10px;
  height: 220px;
}
#mf_screener #menu2 .outer_wrapper_fund .ineer_wrapper_fund {
  border: 1px solid #555555;
  background-color: #fff;
  margin: 5px 0;
  display: inline-block;
  padding: 0;
  width: 100%;
  height: 150px;
  overflow-y: auto;
}
#mf_screener #menu2 .outer_wrapper_fund .ineer_wrapper_fund_last {
  border: 1px solid #555555;
  background-color: #fff;
  margin: 8px 0px;
  display: inline-block;
  padding: 0;
  width: 100%;
  height: 125px;
  overflow-y: auto;
}
#mf_screener #menu2 label {
  display: block;
  max-width: 100%;
  margin-bottom: 0;
  font-weight: 100;
  padding: 2px 10px;
}
#mf_screener #menu2 label:nth-child(odd) {
  background: #fff;
}
#mf_screener #menu2 label:nth-child(even) {
  background: #f1f2f2;
}
#mf_screener #menu3 .outer_wrapper_fund .ineer_wrapper_fund, #mf_screener #menu3 .outer_wrapper_fund .ineer_wrapper_fund_last {
  border: 1px solid #555555;
  background-color: #fff;
  margin: 5px 0px;
  display: inline-block;
  padding: 0;
  width: 100%;
  height: 160px;
  overflow-y: auto;
}
#mf_screener #menu3 label{
  display: block;
  max-width: 100%;
  margin-bottom: 0;
  font-weight: 400;
  padding: 2px 10px;
}
#mf_screener #menu3 .outer_wrapper_fund {
  border: 1px solid #555555;
  background-color: #f2f2f2;
  margin-top: 3px;
  width: 100%;
  padding: 10px;
  height: 410px;
}
#mf_screener #menu3 .outer_wrapper_fund .columns_head {
  display: inline-block;
  margin: 0.2em 0;
  padding: 0.5em 0.5em;
  min-width: 12em;
}
#mf_screener #menu3 label:nth-child(odd) {
  background: #fff;
}
#mf_screener #menu3 label:nth-child(even) {
  background: #f1f2f2;
}
#mf_screener #menu4 .outer_wrapper_fund {
  border: 1px solid #555555;
  background-color: #f2f2f2;
  margin-top: 3px;
  width: 100%;
  padding: 10px;
  height: 310px;
}
#mf_screener .shda .snaphist button {
  font-size: 14px;
  border: 0;
  border-bottom: 2px solid #f1f2f2;
  border-radius: 4px 4px 0 0;
  color: #3b3f42;
  background: #f1f2f2;
  text-shadow: none;
  padding: 6px 12px;
  outline: none;
}
#mf_screener .shda .snaphist button.active{
  border: 0;
  border-bottom: 5px solid #2d94e7;
  background-color: #a2d2f7;
  font-weight: 600;
  text-shadow: none;
}
#mf_screener .shda .btn_hist {
  width: 48.7%;
}

/**************************************
      Stocks Held By Mutual Funds 
***************************************/
#rv_stock .StocksTabs{
  margin-bottom: 10px;
}
#rv_stock .StocksTabs .buttons-row .button {
  font-size: 12px;
  padding: 0 3px;
  color: #333;
  border-color: #7fb800;
  white-space: normal;
  line-height: 18px;
  min-height: 38px;
}
#rv_stock .StocksTabs .buttons-row .button.active {
  color: #FFF;
  background: #7fb800;
  border-color: #7fb800;
}
#stock_price_compare_wrapper {
  overflow-x : auto;
}

/******************** 
    Fixed deposit 
*********************/

#FixedDeposit #fd_all_list_head .breadcrumb {
  background: transparent;
  box-shadow: none;
  border: 0;
  min-height: 20px;
  border-radius: 0;
}
#FixedDeposit #fd_all_list .breadcrumb {
  margin-bottom: 15px;
  border: 1px solid #17396B;
  background: linear-gradient(to bottom, rgba(18,51,86,1), rgba(38,89,149,1));
}
#FixedDeposit #fd_all_list .breadcrumb a {
  color: #fff;
}
#FixedDeposit #fd_all_list .breadcrumb .FDName {
  font-size: 16px;
}
#FixedDeposit #fd_all_list .breadcrumb .FDPeriod {
  text-align: center; 
}
#FixedDeposit #fd_all_list .breadcrumb .FDInterest {
  text-align: center;
  padding-right: 0.5em;
}

/**********************************
    Investment Solution
***********************************/
#investment_solution img {
  width: 80px;
}
#investment_solution #AssetABP {
  margin-bottom: 2em;
}
#investment_solution #AssetABP .AssetABPInner, #investment_solution #GoalBP .GoalBPInner {
  padding: 10px;
  /*background: #eee;*/
  border-radius: 6px;
  /*box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);*/
  color: #fff;
  margin-bottom: 15px;
  border: 0;
  border-bottom: 1px solid #17396B;
  background: linear-gradient(to bottom, rgba(18,51,86,1), rgba(38,89,149,1));
  -webkit-box-shadow: 0px 6px 0px #123356, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
  -moz-box-shadow: 0px 6px 0px #123356, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
  box-shadow: 0px 6px 0px #123356, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
}
#investment_solution #AssetABP .AssetABPInner p, #investment_solution #GoalBP .GoalBPInner p {
  margin-top: 10px;
}
#investment_solution #AssetABP .AssetABPInner a, #investment_solution #GoalBP .GoalBPInner a {
  margin-top: 10px;
}

/*************************************************************
    Investment Solution - Asset Allocation based Portfolios
**************************************************************/
#ISAssetAllocationBased img {
  width: 44px;
  margin: 3px 0;
}
#ISAssetAllocationBased .AABPTabs .button {
  font-size: 12px;
  padding: 0 6px;
  color: #333;
  border-color: #7fb800;
}
#ISAssetAllocationBased .AABPTabs .button.active {
  color: #FFF;
  background: #7fb800;
  border-color: #7fb800;
}
#ISAssetAllocationBased .tabs .list-block {
  margin: 10px 0;
  max-height: 50px;
}
#ISAssetAllocationBased .tabs .list-block ul {
  background: linear-gradient(to bottom, rgba(18,51,86,1), rgba(38,89,149,1));
  color: #fff;
  border-radius: 6px;
  border: 1px solid #ccc;
}
#ISAssetAllocationBased .tabs .list-block ul:before, #ISAssetAllocationBased .tabs .list-block ul:after {
  background-color: transparent;
}
#ISAssetAllocationBased .tabs .list-block .item-content {
  padding-left: 10px;
}
#ISAssetAllocationBased .tabs .list-block .item-title {
  padding-left: 10px;
}
#ISAssetAllocationBased .tabs .breadcrumb {
  margin: 10px 0 0 0;
}
#ISAssetAllocationBased .tabs .breadcrumb h6 {
  margin-bottom: 5px;
}
#ISAssetAllocationBased .breadcrumb .fa {
  font-size: 5em;
  margin-top: .6em;
}
#ISAssetAllocationBased .chartCircleInside {
  text-align: center;
  margin-left: 1.2em;
  margin-top: 0;
  top: 43px !important;
  z-index: 0;
}
#ISAssetAllocationBased .ChartCIEQ {
  margin-right: -4px;
}
#ISAssetAllocationBased .ChartCIDT {
  margin-left: -4px;
}
#ISAssetAllocationBased .ChartCIP {
  font-size: 18px;
}
#ISAssetAllocationBased .ChartCIT {
  font-size: 9px;
}
/*#ISAssetAllocationBased .ChartCIDT:hover {
  color: #3b5e00;
}
#ISAssetAllocationBased .ChartCIEQ:hover {
  color: #003467;
}*/
#ISAssetAllocationBased .tooltop {
  padding: 5px;
}
#ISAssetAllocationBased .highcharts-container {
  position: inherit !important;
}
#ISAssetAllocationBased .highcharts-tooltip {
  z-index: 9998;
}
#ISAssetAllocationBased .highcharts-tooltip div {
  background-color: #fff;
  border:1px solid #c0c1c1;
}
#ISAssetAllocationBased .breadcrumb #AssetsChart_1,#ISAssetAllocationBased .breadcrumb #AssetsChart_2,#ISAssetAllocationBased .breadcrumb #AssetsChart_3,#ISAssetAllocationBased .breadcrumb #AssetsChart_4,#ISAssetAllocationBased .breadcrumb #AssetsChart_5,#ISAssetAllocationBased .breadcrumb #AssetsChart_6,#ISAssetAllocationBased .breadcrumb #AssetsChart_7,#ISAssetAllocationBased .breadcrumb #AssetsChart_8,#ISAssetAllocationBased .breadcrumb #AssetsChart_9,#ISAssetAllocationBased .breadcrumb #AssetsChart_10,#ISAssetAllocationBased .breadcrumb #AssetsChart_11 {
  left:0px; 
  top:0px;
  min-width: 100px; 
  max-width: 140px;
  height:140px;
}
#ISAssetAllocationBased .breadcrumb #addText_1,#ISAssetAllocationBased .breadcrumb #addText_2,#ISAssetAllocationBased .breadcrumb #addText_3,#ISAssetAllocationBased .breadcrumb #addText_4,#ISAssetAllocationBased .breadcrumb #addText_5,#ISAssetAllocationBased .breadcrumb #addText_6,#ISAssetAllocationBased .breadcrumb #addText_7,#ISAssetAllocationBased .breadcrumb #addText_8,#ISAssetAllocationBased .breadcrumb #addText_9,#ISAssetAllocationBased .breadcrumb #addText_10,#ISAssetAllocationBased .breadcrumb #addText_11 {
  position:absolute; 
  left:0px; 
  top:0px;
}
#ISAssetAllocationBased .table>thead>tr>th {
  border-bottom: 1px solid #ddd;
}
#ISAssetAllocationBased .table>tbody>tr>td:nth-child(2) {
  text-align: right;
  padding-right: 1em;
}
#ISAssetAllocationBased .btn-RV {
  margin-top: 3em;
}

/*************************************************************
    Investment Solution - Goal based Portfolios
**************************************************************/

#ISGoalBased .breadcrumb {
  color: #fff;
  margin-bottom: 15px;
  border: 0;
  border-bottom: 1px solid #17396B;
  background: linear-gradient(to bottom, rgba(18,51,86,1), rgba(38,89,149,1));
  -webkit-box-shadow: 0px 6px 0px #123356, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
  -moz-box-shadow: 0px 6px 0px #123356, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
  box-shadow: 0px 6px 0px #123356, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
}
#ISGoalBased .breadcrumb img {
  width: 38px;
}
#ISGoalBased .breadcrumb a {
  color: #fff;
  display: flow-root;
}

/*------------ Goal Based Individual Common ----------------- */
.GoalBaseInd img {
  width: 50px;
}
.GoalBaseInd .GBITabs .button {
  font-size: 12px;
  padding: 0 6px;
  color: #333;
  border-color: #7fb800;
}
.GoalBaseInd .GBITabs .button.active {
  color: #FFF;
  background: #7fb800;
  border-color: #7fb800;
}
.GoalBaseInd .GBITabs .list-block {
  margin: 10px 0;
  max-height: 50px;
}
.GoalBaseInd .GBITabs .list-block ul {
  background: linear-gradient(to bottom, rgba(18,51,86,1), rgba(38,89,149,1));
  color: #fff;
  border-radius: 6px;
  border: 1px solid #ccc;
}
.GoalBaseInd .GBITabs .list-block ul:before, .GoalBaseInd .GBITabs .list-block ul:after {
  background-color: transparent;
}
.GoalBaseInd .GBITabs .list-block .item-content {
  padding-left: 10px;
}
.GoalBaseInd .GBITabs .list-block .item-title {
  padding-left: 10px;
}
.GoalBaseInd .chartCircleInside {
  text-align: center;
  margin-left: 1.2em;
  margin-top: 0;
  top: 50px !important;
  z-index: 0;
}
.GoalBaseInd .ChartCIEQ {
  margin-right: -4px;
}
.GoalBaseInd .ChartCIDT {
  margin-left: -4px;
}
.GoalBaseInd .ChartCIP {
  font-size: 18px;
}
.GoalBaseInd .ChartCIT {
  font-size: 9px;
}
.GoalBaseInd .tooltop {
  padding: 5px;
}
.GoalBaseInd .highcharts-container {
  position: inherit !important;
}
.GoalBaseInd .highcharts-tooltip {
  z-index: 9998;
}
.GoalBaseInd .highcharts-tooltip div {
  background-color: #fff;
  border:1px solid #c0c1c1;
}
.GoalBaseInd .breadcrumb #GoalIndiC1, .GoalBaseInd .breadcrumb #GoalIndiC2, .GoalBaseInd .breadcrumb #GoalIndiC3, .GoalBaseInd .breadcrumb #GoalIndiC4 {
  left:0px; 
  top:0px;
  min-width: 100px; 
  max-width: 160px;
  height:160px;
}
.GoalBaseInd .breadcrumb #addTextC1, .GoalBaseInd .breadcrumb #addTextC2, .GoalBaseInd .breadcrumb #addTextC3, .GoalBaseInd .breadcrumb #addTextC4 {
  position:absolute; 
  left:0px; 
  top:0px;
}
.GoalBaseInd .btn-RV {
  margin-top: 4em;
}
.GoalBaseInd .table {
  margin-bottom: 0;
}
.GoalBaseInd .breadcrumb .table thead tr th,
.GoalBaseInd .breadcrumb .table tbody tr td {
  text-align: center;
}
.GoalBaseInd .breadcrumb .table thead tr:nth-child(2) th:first-child,
.GoalBaseInd .breadcrumb .table tbody tr td:first-child {
  text-align: left;
}
.GoalBaseInd .table>tbody>tr>td,
.GoalBaseInd .table>thead>tr>th {
  border-bottom: 1px solid #ddd;
}
.GoalBaseInd h6 {
  font-style: italic;
  font-size: 10px;
}
#ISGoalSectoral .GBITabs .GBITabsP2 {
  margin-top: 10px;
}


/***************************************************************************
      Investment Solution - Combined MF / Design / Capital Preservation
****************************************************************************/
#ISCapitalPres .CPBody h4 {
  margin-bottom: 5px;
}
#ISCapitalPres .CPTop .btn-toolbar .btn-group {
  text-align: center;
}
#ISCapitalPres .CPTop .btn-toolbar .btn-group .comtopicon {
  display: inline-block;
  border: 1px solid #6d9f00;
  padding: 5px;
  width: 2.5em;
  text-align: center;
  border-radius: 3px;
  font-size: 1.5em;
}
#ISCapitalPres .CPTop #InvestNow {
  float: right;
}
#ISCapitalPres .CPTop .btn-RV {
  min-width: 100px;
  padding: 4px 10px;
}
#ISCapitalPres .CPTop .dropdown-menu {
    padding: 0;
    min-width: 100%;
    background: #fff;
    border: 1px solid #c0c1c1;
}
#ISCapitalPres .CPTop .dropdown-menu li a {
    color: #3b3f42;
    font-size: 12px;
    padding: 5px 10px;
    cursor: pointer;
}
#ISCapitalPres .table {
  margin-bottom: 0;
}
#ISCapitalPres .table tr th, #ISCapitalPres .table tr td {
  text-align: center;
}
#ISCapitalPres .CPBody .AssetAllocReturnTable h6 {
  margin-top: 5px;
  font-style: italic;
  color: #787979;
}
#ISCapitalPres .chartCircleInside {
  text-align: center;
  margin-left: 1.3em;
  margin-top: 1.7em;
}
#ISCapitalPres .ChartCIEQ {
  margin-right: -4px;
}
#ISCapitalPres .ChartCIDT {
  margin-left: -4px;
}
#ISCapitalPres .ChartCIP {
  font-size: 18px;
}
#ISCapitalPres .ChartCIT {
  font-size: 9px;
}
/*#ISCapitalPres .chartCircleInside {
  text-align: center;
  margin-left: 1.2em;
  margin-top: 1.7em;
  top: 50px !important;
  z-index: 0;
}*/
#ISCapitalPres .tooltop {
  padding: 5px;
}
#ISCapitalPres .highcharts-container {
  position: inherit !important;
}
#ISCapitalPres .highcharts-tooltip {
  z-index: 9998;
}
#ISCapitalPres .highcharts-tooltip div {
  background-color: #fff;
  border:1px solid #c0c1c1;
}
#ISCapitalPres #asset_alloc {
  left:0px; 
  top:0px;
  min-width: 100px !important;; 
  max-width: 160px !important;;
  height:160px !important;;
}
#ISCapitalPres #addText {
  position:absolute; 
  left:0px; 
  top:0px;
}
#ISCapitalPres .card {
  margin: 10px 0;
  border: 1px solid;
  border-top: 10px solid;
  border-radius: 6px;
}
 #ISCapitalPres .card-header {
  padding: 0 4px;
  background: #f1f2f2;
  border-bottom: 1px solid #c0c1c1 !important;
  border-radius: 0;
}
#ISCapitalPres .card-content {
  padding: 4px;
}
#ISCapitalPres .CPBotP1 h5 {
  margin-top: 5px;
}
#ISCapitalPres .CPBotP1 h5 a {
  color: inherit;
}
#ISCapitalPres .fa-lock {
  padding: 3px 8px;
  color: #fff;
  font-size: 18px;
}

/************************
      Contact
*************************/
#Contact .HeadTop {
  margin-bottom: 0;
}
#Contact h2 {
  margin: 5px 0;
}
#Contact .ContHead {
  background: #e4e4e4;
}
#Contact p {
  font-size: 16px;
  margin-top: 10px;
}
#Contact address {
  font-size: 16px;
  font-weight: 500;
}
#Contact address .fa {
  min-width: 1.5em; 
}
#Contact ul {
  margin-bottom: 0;
}
#Contact ul li {
  border-bottom: 1px solid #ccc;
  margin-left: -15px;
  margin-right: -15px;
  padding: 5px 15px;
  font-size: 16px;
  min-height: 35px;
}
#Contact ul li a {
  display: block;
}
#Contact ul li a .fa {
  font-size: 24px;
  width: 1.5em;
}
#Contact ul li a .fa-twitter {
  color: #1b95e0;
}
#Contact ul li a .fa-linkedin {
  color: #0077b5;
}
#Contact ul li a .fa-facebook {
  color: #4267b2;
}
#Contact ul li a .fa-google-plus {
  color: #dd4b39;
}

/************************
        FAQs
*************************/
#faq .MFHeadTop
{
  background: #eee;
  border-bottom: 1px solid #ccc;
}
#faq .MFHeadTop .sub_navbar_head .button {
  border: none;
  border-radius: 0 0 0 0;
  color: #787979;
}
#faq .MFHeadTop .sub_navbar_head a.button {
  font-size: 12px;
  padding: 0 5px;
}
#faq .MFHeadTop .sub_navbar_head .button.active {
  background: none;
  color: #333;
  border-bottom: 5px solid #17406B;
}
#faq #faq_general_tab .faq_general_list {
  padding-left: 15px;
}
#faq #faq_general_tab .content-block {
  margin-top: 5px;
}
#faq li{
  margin-bottom: 1em;
}
#faq li a {
  color: #848a90;
  line-height: 24px;
}
#faq #faq_mf_tab .faq_mf_list {
  padding-left: 15px;
}
#faq #faq_mf_tab .content-block {
  margin-top: 5px;
}
#faq #faq_fd_tab .faq_fd_list {
  padding-left: 15px;
}
#faq #faq_fd_tab .content-block {
  margin-top: 5px;
}


/************************
        FD Calculator
*************************/

#fd_calculator #calculate{
  margin: 0em 0;
  font-size: 20px;
}
#fd_calculator .breadcrumb{
  margin: 1em 0;
}
#fd_calculator input[type=range] {
  height: 28px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
#fd_calculator input[type=range]:focus {
  outline: none;
}
#fd_calculator input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000;
  background: #3071A9;
  border-radius: 5px;
  border: 1px solid #000000;
}
#fd_calculator input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background: #FFFFFF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
}
#fd_calculator input[type=range]:focus::-webkit-slider-runnable-track {
  background: #3071A9;
}
#fd_calculator input[type=range]::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000;
  background: #3071A9;
  border-radius: 5px;
  border: 1px solid #000000;
}
#fd_calculator input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background: #FFFFFF;
  cursor: pointer;
}
#fd_calculator input[type=range]::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
#fd_calculator input[type=range]::-ms-fill-lower {
  background: #3071A9;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000000;
}
#fd_calculator input[type=range]::-ms-fill-upper {
  background: #3071A9;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000000;
}
#fd_calculator input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background: #FFFFFF;
  cursor: pointer;
}
#fd_calculator input[type=range]:focus::-ms-fill-lower {
  background: #3071A9;
}
#fd_calculator input[type=range]:focus::-ms-fill-upper {
  background: #3071A9;
}