/*
   statusbar-overlay sets the background color for the overlay. Black text is the default when the statusbar plugin is not added. When the
   statusbar plugin is added, it also adds default setting to make the content white via:

       <preference name="StatusBarStyle" value="lightcontent"/>

   Setting the background color to black will allow the default light content (white text/icons) to show on it. The statusbar plugin is included
   in the config.xml file and will be added by the CLI when you build locally.

   See https://github.com/apache/cordova-plugin-statusbar
*/

.statusbar-overlay {
    background: #000000;
}


@charset "utf-8";

/********************************************************/
/* Base Styles                                          */
/********************************************************/

/* Fixes IE 10 viewport issue, as specified in Bootstrap docs.
 * See here > http://getbootstrap.com/getting-started/#support-ie-compatibility-modes. */
@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }

html {
  width: auto;
  overflow-x: hidden;
  overflow-y: scroll;
}
#ascrail2000 {
  display: none !important;
}
#ascrail2001 {
  display: none !important;
}
body {
  font-family: verdana, arial, helvetica, sans-serif;
  background-color: #FFF;
  font-size: 12px;
  font-style: normal;
  line-height: 18px;
  font-weight: 300;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1, h2, h3, h4, h5, h6, p, span, blockquote, hr {
  position: relative;
  font-family: verdana, arial, helvetica, sans-serif;
  font-weight: 300;
}
h1 {
  font-size: 22px;
  color: #FFF;
  margin-top: 10px;
}
h2 {
  font-size: 20px;
  color: #3b3f42;
  margin-top: 10px;
}
h3 {
  font-size: 18px;
  color: #3b3f42;
  margin-top: 10px;
}
h4 {
  color: #3b3f42;
  font-size: 16px;
}
p {
  font-style: normal;
  text-align: justify;
}
p a {
  font-style: italic;
  text-decoration: underline;
}
a {
  color: #6d9f00;
  text-decoration: none;
  text-transform: none;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease .3s;
  -o-transition: all ease .3s;
  transition: all ease .3s;
}
a:hover, a:focus {
  color: #7fb800;
}
hr {
  border-top: 1px solid #c8cbcd;
}
.vr_left {
  border-left: 1px solid #c8cbcd;
}
img {
  max-width: 100%;
  width: auto;
  height: auto;
}
/* *************************************** 
                Navbar
  **************************************** */
#RVNavbar .navbar {
  margin-bottom: 0;
  border: 0;
  min-height: 44px;
  color: #fff;
  background: #17406B;
}
#RVNavbar .navbar .center {
  font-weight: 300;
  width: 100%;
} 
#RVNavbar .navbar-fixed .page-content, .navbar-through .page-content {
  padding-top: 0;
  padding-bottom: 0;
}
#RVNavbar #navbar_search_btn {
  color: #fff;
}
#RVNavbar #navbar_close_btn{
  color: #fff;
}
#RVSidebar {
  margin-top: 0px;
  background: linear-gradient(to right, rgba(18,51,86,1), rgba(38,89,149,1));
  border-radius: 0;
}
#RVSidebar .fa {
  width: 20px;
}
#RVSidebar .list-block .item-inner:after {
  background: none;
}
#RVSidebar .list-block ul:before {
  background: none;
}
#RVSidebar .content-block {
  margin: 0;
  padding: 0;
}
#RVSidebar .content-block-title {
  margin: 0;
}
#RVSidebar .content-block-title+.list-block {
  margin-top: 0;
}
#RVSidebar .list-block .item-content{
  min-height: 34px;
}
#RVSidebar .item-content.item-link{
  background: #17406B;
  color: #fff;
  border-top: 1px solid #123356;
  font-size: 12px;
  padding-left: 10px;
}
#RVSidebar .accordion-item .item-content.item-link .item-title{
  width: 100%;
}
#RVSidebar .accordion-item-content .item-content.item-link{
  background: #456688;
  color: #fff;
  border-top: 1px solid #123356;
  padding-left: 2em;
}
#RVSidebar .accordion-item-content .accordion-item-content .item-content.item-link{
  background: #738ca6;
  color: #fff;
  border-top: 1px solid #123356;
}
#RVSidebar #sidepanel_head span{
  color: #fff;
}
#RVSidebar #sidepanel_head #sidepanel_user_name{
  margin-left: 1em;
  font-size: 11px;
}
#RVSidebar #sidepanel_head #sidepanel_log_flag{
  margin-right: 1em;
  font-size: 11px;
}
#RVSidebar #sidepanel_head{
  background: linear-gradient(to right, rgba(18,51,86,1), rgba(38,89,149,1));;
}
#RVSidebar #sidepanel_head #sidepanel_head_img{
  margin:1em 10px;
}


/* *************************************** 
                   My CSS 
  **************************************** */

.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: 0;
}
.btn-primary, .btn-primary.disabled, .btn-primary[disabled], .btn-primary[disabled]:active, .btn-primary[disabled]:hover,
 .btn-primary:active:focus, .btn-primary:active:hover {
  background-color: #7fb800;
  border-color: #7fb800;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {  
  background-color: #6d9f00;
  border-color: #6d9f00;
}

.d_inline { display: inline; }
.d_inline_b { display: inline-block; }
.d_inline_f { display: -webkit-inline-flex; display: -ms-inline-flexbox; display: inline-flex; }
.d_none {display:none;}
.NoAppearance { -webkit-appearance: none; -moz-appearance: none; appearance: none; }
.area_wrap {overflow-x:auto;}
.form-control {
  height: 32px;
  padding: 3px 6px;
}
.HeadTop {
  background: #2f5378;
}

/**************
    Home page 
***************/

#IndexHome .HomeTop {
  background: #2f5378;
  height: 12em;
}
#IndexHome h1 {
  font-size: 20px;
  margin-top: 2em;
}
#IndexHome h3 {
  color: #FFF;
}
#IndexHome a {
  color: #333;
}
#IndexHome .MFFD img {
  margin: 1em 0 0 0;
}
#IndexHome .mf, #IndexHome .fd {
  background: #1c4d80;
  padding-bottom: 1em;
}
#IndexHome .mf a, #IndexHome .fd a {
  color: #fff;
}
#IndexHome .invSolTop {
  background: #2f5378;
}
#IndexHome .invSol {
  padding: 0 0 1em 0;
}
#IndexHome .invSol img {
  margin: 1em 0 0 0;
}
#IndexHome .innoToolsTop {
  background: #2f5378;
}
#IndexHome .innoTools {
  padding: 0 0 1em 0;
}
#IndexHome .innoTools img {
  margin: 1em 0 0 0;
}

/****************
    About page 
*****************/
#why_RV h2 {
  border-bottom: 1px solid #17406B;
}
#why_RV p {
  text-align: left;
}
#why_RV .HowItInner, #why_RV .AboutUsInner {
  background: #fff;
  border-radius: 6px;
  box-shadow: 1px 0px 15px 5px rgba(0,0,0,0.075);
  height: 100px;
}
#why_RV .HowItInner img, #why_RV .AboutUsInner img {
  background: #17406B;
  width: 100px;
  padding: 10px;
  margin: 0 5px 10px 0;
}
#why_RV .HowItInner p, #why_RV .AboutUsInner p {
  margin-right: 5px;
  line-height: 16px;
}
#why_RV .HowItInner h5, #why_RV .AboutUsInner h5 {
  padding-top: 5px;
  margin: 0;
}
#why_RV .SecurityInner {
  background: #fff;
  border-radius: 6px;
  box-shadow: 1px 0px 15px 5px rgba(0,0,0,0.075);
  height: 100px;
  padding-left: 5px;
}
#why_RV .SecurityInner img {
  background: #17406B;
  width: 100px;
  padding: 10px;
  margin: 0 0 10px 5px;
}
#why_RV .SecurityInner p {
  margin-right: 5px;
  line-height: 16px;
}
#why_RV .SecurityInner h5 {
  padding-top: 5px;
  margin: 0;
}



/**********************************
    Mutual Fund Home
***********************************/

#mfund_home table thead th .glyphicon {
  color: #fff;
}
#mfund_home table tbody tr td {
  padding: 8px 0;
}
#mfund_home .part2 .RV5star {
  display: block;
}
#mfund_home .part2 table thead tr th {
  font-size: 13px;
  background: #1689e5;
  color: #fff;
  text-align: center;
}
#mfund_home .part2 .nav-pills li a {
  color: #5f6469;
}
#mfund_home .part2 .nav-pills>li.active>a {
  color: #FFF;
}
#mfund_home .part2 .list-inline {
  margin: 0;
}
#mfund_home .part2 .list-inline>li {
  width: 32.5%;
  padding: 0;
}
#mfund_home .part2 .list-inline>li.active .EquityTopMFcircle {
  color: #fff;
  background: #1689e5;
}
#mfund_home .part2 .list-inline>li.active .DebtTopMFcircle {
  color: #fff;
  background: #99C733;
}
#mfund_home .part2 .list-inline>li.active .HybridTopMFcircle {
  color: #fff;
  background: #00C78C;
}
#mfund_home .part2 .TopMFcircle {
  padding: 5px;
  color: #3b3f42;
  font-size: 16px;
  text-align: center;
}
#mfund_home .part2 .li_space {
  margin-right: 0;
}
#mfund_home .part2 ul li .EquityTopMFcircle {
  background: #f1f2f2;
  border: 3px solid #1689e5;
}
#mfund_home .part2 .DebtTopMFcircle {
  background: #f1f2f2;
  border: 3px solid #99C733;
}
#mfund_home .part2 .HybridTopMFcircle {
  background: #f1f2f2;
  border: 3px solid #00C78C;
}
#mfund_home .part2 ul li a:hover, #mfund_home .part2 ul li a:focus {
  text-decoration: none;
}
#mfund_home .part2 #EquityTab .nav-pills>li.active>a {
  background: #1689e5;
}
#mfund_home .part2 #DebtTab .nav-pills>li.active>a {
  background: #99C733;
}
#mfund_home .part2 #HybridTab .nav-pills>li.active>a {
  background: #00C78C;
}
#mfund_home .part2 .MainTabContent {
  padding-top: 1em;
}
#mfund_home .part2 .MainTabContent .nav-pills>li>a {
  border-radius: 0;
  padding: 10px 10px;
}
#mfund_home .part2 .TopRatedArea ul {
  border: 1px solid #b0b0b0;
}
#mfund_home .part2 .InnerTabContent .table-striped>tbody>tr:nth-child(odd)>td {
  background-color: #f9f9f9;
}
#mfund_home .part2 .InnerTabContent .table-striped>tbody>tr:nth-child(even)>td {
  background-color: #f1f2f2;
}
#mfund_home .part2 .TopRatedInnerArea {
  border: 1px solid #ccc;
  margin-top: 1em;
}
#mfund_home .part2 .TopRatedInnerArea .table>tbody>tr>td {
  padding: 5px 10px;
  vertical-align: middle;
  border-top: none;
}
#mfund_home .part2 .TopRatedInnerArea .table>tbody>tr>td:nth-child(2) {
  text-align: right;
}
#mfund_home .part2 .TopRatedInnerArea .table {
  margin-bottom: 0;  
}
#mfund_home .mf_as_on {
  position: absolute;
  right: 25px;
}



/**********************************
    Screener
***********************************/

#mf_screener #main-tabs li {
    width: 25%;
}
#mf_screener #main-tabs .nav-menu a {
  font-size: 11px;
  padding: 5px 5px;
  border: 2px solid #2d94e7;
  background-color: transparent;
  color: #3b3f42;
  word-spacing: 0px;
  min-height: 4em;
}
#mf_screener #main-tabs .nav-menu.tab-active a {
  background-color: #2d94e7;
  color: #fff;
}
#mf_screener #home .outer_wrapper_fund .ineer_wrapper_fund, #mf_screener #home .outer_wrapper_fund .ineer_wrapper_fund_last {
  border: 1px solid #555555;
  background-color: #fff;
  margin: 5px 0px;
  display: inline-block;
  padding: 0;
  width: 100%;
  height: 160px;
  overflow-y: auto;
}
#mf_screener #home label {
  display: block;
  max-width: 100%;
  margin-bottom: 0;
  font-weight: 400;
  padding: 2px 10px;
}
#mf_screener #home label:nth-child(odd) {
  background: #fff;
}
#mf_screener #home label:nth-child(even) {
  background: #f1f2f2;
}
#mf_screener #home .outer_wrapper_fund {
  border: 1px solid #555555;
  background-color: #f2f2f2;
  margin-top: 3px;
  width: 100%;
  padding: 10px;
  height: 450px;
}
#mf_screener #home .outer_wrapper_fund .selector_head {
  display: inline-block;
  margin: 0.2em 0;
  padding: 0.5em 0.5em;
  min-width: 12em;
}

#mf_screener #menu2 .outer_wrapper_rating .fund_head {
  display: inline-block;
  margin: 0.2em 0;
  padding: 0.5em 0.5em;
  min-width: 12em;
}
#mf_screener #menu2 .outer_wrapper_fund .fund_head {
  display: inline-block;
  margin: 0.2em 0;
  padding: 0.5em 0.5em;
  min-width: 12em;
}
#mf_screener #menu2 .outer_wrapper_rating {
  border: 1px solid #555555;
  background-color: #f2f2f2;
  margin-top: 3px;
  width: 100%;
  padding: 10px;
  height: 220px;
}
#mf_screener #menu2 .outer_wrapper_fund {
  border: 1px solid #555555;
  background-color: #f2f2f2;
  margin-top: 3px;
  width: 100%;
  padding: 10px;
  height: 220px;
}
#mf_screener #menu2 .outer_wrapper_fund .ineer_wrapper_fund {
  border: 1px solid #555555;
  background-color: #fff;
  margin: 5px 0;
  display: inline-block;
  padding: 0;
  width: 100%;
  height: 150px;
  overflow-y: auto;
}
#mf_screener #menu2 .outer_wrapper_fund .ineer_wrapper_fund_last {
  border: 1px solid #555555;
  background-color: #fff;
  margin: 8px 0px;
  display: inline-block;
  padding: 0;
  width: 100%;
  height: 125px;
  overflow-y: auto;
}
#mf_screener #menu2 label {
  display: block;
  max-width: 100%;
  margin-bottom: 0;
  font-weight: 100;
  padding: 2px 10px;
}
#mf_screener #menu2 label:nth-child(odd) {
  background: #fff;
}
#mf_screener #menu2 label:nth-child(even) {
  background: #f1f2f2;
}
#mf_screener #menu3 .outer_wrapper_fund .ineer_wrapper_fund, #mf_screener #menu3 .outer_wrapper_fund .ineer_wrapper_fund_last {
  border: 1px solid #555555;
  background-color: #fff;
  margin: 5px 0px;
  display: inline-block;
  padding: 0;
  width: 100%;
  height: 160px;
  overflow-y: auto;
}
#mf_screener #menu3 label{
  display: block;
  max-width: 100%;
  margin-bottom: 0;
  font-weight: 400;
  padding: 2px 10px;
}
#mf_screener #menu3 .outer_wrapper_fund {
  border: 1px solid #555555;
  background-color: #f2f2f2;
  margin-top: 3px;
  width: 100%;
  padding: 10px;
  height: 410px;
}
#mf_screener #menu3 .outer_wrapper_fund .columns_head {
  display: inline-block;
  margin: 0.2em 0;
  padding: 0.5em 0.5em;
  min-width: 12em;
}
#mf_screener #menu3 label:nth-child(odd) {
  background: #fff;
}
#mf_screener #menu3 label:nth-child(even) {
  background: #f1f2f2;
}
#mf_screener #menu4 .outer_wrapper_fund {
  border: 1px solid #555555;
  background-color: #f2f2f2;
  margin-top: 3px;
  width: 100%;
  padding: 10px;
  height: 310px;
}
#mf_screener .shda .snaphist button {
  font-size: 14px;
  border: 0;
  border-bottom: 2px solid #f1f2f2;
  border-radius: 4px 4px 0 0;
  color: #3b3f42;
  background: #f1f2f2;
  text-shadow: none;
  padding: 6px 12px;
  outline: none;
}
#mf_screener .shda .snaphist button.active{
  border: 0;
  border-bottom: 5px solid #2d94e7;
  background-color: #a2d2f7;
  font-weight: 600;
  text-shadow: none;
}
#mf_screener .shda .btn_hist {
  width: 48.7%;
}




/**********************************
    Investment Solution
***********************************/

#investment_solution .FullDoc img {
  height: 160px;
}
#investment_solution .FullDoc p {
  margin: 0 0 10px 0;
  line-height: 20px;
  /*text-align: left;*/
  font-size: 12px;
}
#investment_solution .FullDoc a:hover, #investment_solution .FullDoc a:focus {
  text-decoration: none;
}
#investment_solution .FullDoc h3 {
  margin: 0;  
}
#investment_solution .invSolBodyP1 {
  /*background: #f1f2f2;*/
  padding: 1em 0;
    border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
#investment_solution .invSolBodyP2 {
  padding: 3em 0;
}
#investment_solution .invSolBodyP2 .carousel {
  /*display: inline-block;*/
}
#investment_solution .invSolBodyP3 {
  /*background: #f1f2f2;*/
  border-top: 1px solid #ddd;
  padding: 1em;
  height: 100px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
#investment_solution .invSolBodyP31 {
  /*background: #f1f2f2;*/
  border-bottom: 1px solid #ddd;
  padding: 1em 1em 0 1em;
  min-height: 70px;
}
#investment_solution .FullDoc a .invSolBody {
  border: 1px solid;
  /*border-top: 7px solid;  */
  /*margin-top: 2em;*/
  /*height: 50vh;*/
  -webkit-transition: all 0.65s;
  -moz-transition: all 0.65s;
  -ms-transition: all 0.65s;
  -o-transition: all 0.65s;
  transition: all 0.65s;
  -webkit-transform: scale(1.0);
  -o-transform: scale(1.0);
  -ms-transform: scale(1.0);
  transform: scale(1.0);
}
#investment_solution .FullDoc a .invSolBody:hover {
  -webkit-transform: scale(1.02);
  -o-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02);
}
#investment_solution #AssetABP .invSolBodyP1 {
  background: #fff; 
  border-bottom: 1px solid #ddd; 
}
#investment_solution #AssetABP .invSolBodyP1 h3 {
  color: #0099ff;  
}
#investment_solution #AssetABP .invSolBody {
  border-color: #0089e5;
  border-radius: 4px;
}
#investment_solution #AssetABP .invSolBody:hover .invSolBodyP1 {
  background: #0099ff;
  -webkit-transition: all 0.65s;
  -moz-transition: all 0.65s;
  -ms-transition: all 0.65s;
  -o-transition: all 0.65s;
  transition: all 0.65s;
}
#investment_solution #AssetABP .invSolBody:hover .invSolBodyP1 h3 {
  color: #fff;
}
#investment_solution #AssetABP .invSolBodyP2 {
  background-image: url("../img/invSolution/InvSolBGAssetAlloc.png");
  background-repeat: repeat;
}
#investment_solution #AssetABP .invSolBody:hover .invSolBodyP3 {
  border-bottom: 15px solid #0099ff;
  -webkit-transition: all 0.65s;
  -moz-transition: all 0.65s;
  -ms-transition: all 0.65s;
  -o-transition: all 0.65s;
  transition: all 0.65s;
}
#investment_solution #GoalBP .invSolBodyP1 {
  background: #fff;  
  border-bottom: 1px solid #ddd;
}
#investment_solution #GoalBP .invSolBodyP1 h3 {
  color: #90bf6c;  
}
#investment_solution #GoalBP .invSolBody {
  border-color: #90bf6c;
  border-radius: 4px;
}
#investment_solution #GoalBP .invSolBody:hover .invSolBodyP1 {
  background: #93cf66;
    -webkit-transition: all 0.65s;
  -moz-transition: all 0.65s;
  -ms-transition: all 0.65s;
  -o-transition: all 0.65s;
  transition: all 0.65s;
}
#investment_solution #GoalBP .invSolBody:hover .invSolBodyP1 h3 {
  color: #fff;
}
#investment_solution #GoalBP .invSolBodyP2 {
  background-image: url("../img/invSolution/InvSolBGGoal.png");
  background-repeat: repeat;
}
#investment_solution #GoalBP .invSolBody:hover .invSolBodyP3 {
  border-bottom: 15px solid #93cf66;
  -webkit-transition: all 0.65s;
  -moz-transition: all 0.65s;
  -ms-transition: all 0.65s;
  -o-transition: all 0.65s;
  transition: all 0.65s;
}
#investment_solution .carousel-fade .carousel-inner .item {
  opacity: 0;
 -moz-transition: opacity ease-in-out .70s;
  -o-transition: opacity ease-in-out .70s;
  -webkit-transition: opacity ease-in-out .70s;
  transition: opacity ease-in-out .70s;
}
#investment_solution .carousel-fade .carousel-inner .active {
  opacity: 1;
}
#investment_solution .carousel-fade .carousel-inner .active.left,
#investment_solution .carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
#investment_solution .carousel-fade .carousel-inner .next.left,
#investment_solution .carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
#investment_solution .carousel-fade .carousel-control {
  z-index: 2;
}


/************************
    Contact
*************************/
#Contact h2 {
  margin: 5px 0;
}
#Contact .ContHead {
  background: #e4e4e4;
}
#Contact p {
  font-size: 16px;
  margin-top: 10px;
}
#Contact address {
  font-size: 16px;
  font-weight: 500;
}
#Contact address .fa {
  min-width: 1.5em; 
}
#Contact ul {
  margin-bottom: 0;
}
#Contact ul li {
  border-bottom: 1px solid #ccc;
  margin-left: -15px;
  margin-right: -15px;
  padding: 5px 15px;
  font-size: 16px;
  min-height: 35px;
}
#Contact ul li a {
  display: block;
}
#Contact ul li a .fa {
  font-size: 24px;
  width: 1.5em;
}
#Contact ul li a .fa-twitter {
  color: #1b95e0;
}
#Contact ul li a .fa-linkedin {
  color: #0077b5;
}
#Contact ul li a .fa-facebook {
  color: #4267b2;
}
#Contact ul li a .fa-google-plus {
  color: #dd4b39;
}
